*,
:before,
:after {
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
}

.grid {
  @media (min-width: 48em) {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &__right {
    display: flex;
  }
}
