*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2rem;

  &__left {
    padding: 2rem;
  }
  &__right {
    display: flex;
    padding: 2rem;
  }
}
